<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="zh"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="zh"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="zh"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="zh"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>Knowledge Base Theme</title>

                <script>
                    //获取基本路径
                    var curWwwPath = window.document.location.origin;
                    var pathName =  window.document.location.pathname.substring(0,window.document.location.pathname.indexOf("/",1));
                    var basePath = curWwwPath + pathName;
                    window.basePath = basePath;
                    // console.log(basePath);
                </script>

                <link rel="shortcut icon" href="../resources/images/favicon.png" />

                <!-- Style Sheet-->
                <link rel="stylesheet" href="../resources/css/style.css"/>
                <link rel='stylesheet' id='bootstrap-css-css'  href='../resources/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href='../resources/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href='../resources/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css'  href='../resources/css/main5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='custom-css-css' href='../resources/custom5152.html?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' href='../resources/js/layer-v2.3/skin/layer.css' type='text/css' media='all' />
                <link rel='stylesheet' href='../resources/css/common.css' type='text/css' media='all' />

                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script>
                <![endif]-->

        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header id="head">
                                <div class="container">


                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="index-2.html"  title="Knowledge Base Theme">
                                                        <img src="../resources/images/logo.png" alt="Knowledge Base Theme">
                                                </a>
                                                <span class="tag-line">Premium WordPress Theme</span>

                                        </div>

                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li class="current-menu-item"><a href="javascript:void (0);" v-on:click="goHome">Home</a></li>
                                                                <li><a href="javascript:void (0);" v-on:click="goHome">Home 2</a></li>
                                                                <li><a href="javascript:void (0);" v-on:click="goHome">Home 3</a></li>
                                                                <li><a href="articles-list.html">Articles List</a></li>
                                                                <li><a href="faq.html">FAQs</a></li>
                                                                <li><a href="#">Skins</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="blue-skin.html">Blue Skin</a></li>
                                                                                <li><a href="green-skin.html">Green Skin</a></li>
                                                                                <li><a href="red-skin.html">Red Skin</a></li>
                                                                                <li><a href="index-2.html">Default Skin</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li><a href="#">More</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="full-width.html">Full Width</a></li>
                                                                                <li><a href="elements.html">Elements</a></li>
                                                                                <li><a href="page.html">Sample Page</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li><a href="contact.html">Contact</a></li>
                                                        </ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->
                                        <!--login or userinfo part-->
                                        <div style="float: right;" id="headerLoginArea">
                                                <div id="login_exit">
                                                <a class="login_btn" href="javascript:void(0);" v-on:click="showLogin">login</a>
                                                <a class="login_btn" href="javascript:void(0);" v-on:click="logout">exit</a>
                                                </div>
                                                <div id="logo" hidden="hidden">
                                                     <img src="../resources/images/user-logo.png" style="width: 40px;height: 40px;background-repeat: no-repeat;"/>
                                                     <span style="font-weight: bold;color: white;font-size: 20px;"></span>
                                                     <a class="login_btn" href="javascript:void(0);" v-on:click="logout">exit</a>
                                                </div>
                                        </div>
                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper" id = "search">
                        <div class="search-area container">
                                <h3 class="search-header">Have a Question?</h3>
                                <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>

                                <form id="search-form" class="search-form clearfix" method="post">
                                        <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!"/>
                                        <input class="search-btn" type="button" value="Search" id="searchBtn" v-on:click="searchClick"/>
                                        <input class="search-btn" type="button" value="SecondsKill" id="clickBtn" v-on:click="secondsKillClick"/>
                                        <div id="search-error-container"></div>
                                </form>
                        </div>
                </div>
                <!-- End of Search Wrapper -->
                <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></div>

                <iframe  v-bind:src="content" id="content" width="100%" height="100%" scrolling="no" frameborder="no" marginheight="1" marginwidth="1" name="content" onload="this.height=content.document.body.scrollHeight" ></iframe>

                <!-- Start of Footer -->
                <footer id="footer-wrapper">
                        <div id="footer" class="container">
                                <div class="row">

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">How it works</h3>
                                                        <div class="textwidget">
                                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                                                        </div>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget"><h3 class="title">Categories</h3>
                                                        <ul>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a> </li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
                                                        </ul>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Latest Tweets</h3>
                                                        <div id="twitter_update_list">
                                                                <ul>
                                                                        <li>No Tweets loaded !</li>
                                                                </ul>
                                                        </div>
                                                       
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Flickr Photos</h3>
                                                        <div class="flickr-photos" id="basicuse">
                                                        </div>
                                                </section>
                                        </div>

                                </div>
                        </div>
                        <!-- end of #footer -->

                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © 2013. All Rights Reserved by KnowledgeBase.Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                                                        </p>
                                                </div>
                                                <div class="span6">
                                                        <!-- Social Navigation -->
                                                        <ul class="social-nav clearfix">
                                                                <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                                <li class="stumble"><a target="_blank" href="#"></a></li>
                                                                <li class="google"><a target="_blank" href="#"></a></li>
                                                                <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                                <li class="flickr"><a target="_blank" href="#"></a></li>
                                                                <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                                <li class="rss"><a target="_blank" href="#"></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"></a></li>
                                                                <li class="facebook"><a target="_blank" href="#"></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src='../resources/js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='../resources/js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='../resources/js/jquery.form.js'></script>
                <script type='text/javascript' src='../resources/js/jquery.validate.min.js'></script>
                <!--引入vue.js-->
                <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
                <!--引入vue-resource,才能使用post或get请求方式请求后台-->
                <script type="text/javascript" src = "https://cdn.jsdelivr.net/npm/vue-resource@1.5.0" ></script >
                <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
                <script type="text/javascript" src='../resources/js/custom/index.js'></script>
                <script type='text/javascript' src='../resources/js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='../resources/js/prettyphoto/jquery.prettyPhoto.js'></script>
                <!--<script type='text/javascript' src='../resources/js/jflickrfeed.js'></script>-->
                <script type='text/javascript' src='../resources/js/layer-v2.3/layer.js'></script>
                <script type='text/javascript' src='../resources/js/custom.js'></script>


        </body>
</html>